.suggestion-card {
	position: relative;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	border-radius: 10px;
	width: 90%;
	margin: 10px auto;
}
.invalid {
	color: red;
}
.btn.center {
	width: 150px !important;
}
.delete-button {
	display: inline-block;
	position: absolute;
	right: 3%;
	bottom: 3%;
	width: 150px;
}
.complete-button {
	display: inline-block;
	position: absolute;
	left: 3%;
	bottom: 3%;
	width: 150px;
}
.complete-button::before {
	content: '';
	height: 30em;
	background-color: black;
}
.delete-form {
	display: block;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	position: fixed;
	z-index: 3;
	top: 20vh;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.modal {
	top: 30%;
	z-index: 1000;
	display: block;
	margin: 0 auto;
	background-color: rgba(12, 222, 12, .9);
	padding: 20px;
	height: 25%;
	text-align: center;
	box-sizing: border-box;
}
.error {
	background-color: rgba(222, 12, 12, .9);
	color: white;
}
#overlay {
	position: fixed; /* Sit on top of the page content */
	/* Hidden by default */
	width: 100vw; /* Full width (cover the whole page) */
	height: 100vh; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(
		0,
		0,
		0,
		0.5
	); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}
.suggestion-error {
	display: block;
	float: none;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
}

.center {
	margin: 0 auto;
	left: 0;
	right: 0;
	display: block;
	width: 20%;
	position: relative;
	text-align: center;
}
.suggestion-title {
	padding: 20px;
	border-radius: 10px;
	min-width: 25%;
	max-width: 40%;
	margin: 5px auto 20px auto;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
}
.suggestion-name {
	color: black;
	font-style: italic;
}
.suggestion-message {
	color: black;
	font-style: italic;
}

@media (min-width: 1025px) {
	.suggestion-card {
		width: 50%;
	}
	.delete-form {
		width: 50%;
		margin: 0 auto;
	}
} /* big landscape tablets, laptops, and desktops */
@media (min-width: 1281px) {
} /* hi-res laptops and desktops */

/* Loading Styles */
#loader-icon {
	color: white;
	font-size: 3em;
}
.glyphicon.spinning {
	animation: spin 1s infinite linear;
	-webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
	from {
		transform: scale(1) rotate(0deg);
	}
	to {
		transform: scale(1) rotate(360deg);
	}
}

@-webkit-keyframes spin2 {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
