<div class="suggestion-container">
    <h4 class="suggestion-title">
        Suggestions: </h4>
    <div *ngIf="suggestions.length" class="btn btn-success center" (click)="loadSuggestions()">Refresh</div>

    <div *ngFor="let sugs of suggestions">
        <div class="suggestion-card form-group" #thisel>
            <label for="name">Name: </label>
            <p class="suggestion-name" for="name">{{sugs.name}}</p>
            <label for="message">Message: </label>
            <p class="suggestion-message">{{sugs.message}}</p>
            <label for="keepUpdated">Keep Updated:</label>
            <p class="suggestion-keep-updated">{{sugs.keepUpdated?"Keep Updated":"No"}}</p>
            <label for="email">Email:</label>
            <p class="suggestion-email">{{sugs.email}}</p>

            <div class="btn btn-success">Mark Completed</div>
            <div class="btn btn-danger" (click)="deleteSuggestion(index,thisel)">Delete</div>
        </div>
    </div>
    <div class="loading center form-group">

        <span *ngIf="loading" id="loader-icon" class="glyphicon glyphicon-refresh spinning center"></span>
    </div>
    <div *ngIf="error" class="suggestion-card">
        <label for="error" class="suggestion-error">{{errorMessage}}</label>
        <div *ngIf="!suggestions.length" class="btn btn-danger center" (click)="loadSuggestions()">Try Again</div>

    </div>
</div>