.suggestion-card {
	background-color: rgb(230, 230, 230);
	padding: 10px;
	border-radius: 10px;
}
.suggestion-title {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 20px;
}
.suggestion-name {
	color: black;
	font-style: italic;
}
.suggestion-message {
	color: black;
	font-style: italic;
}
