<div class="container">
  <h3>About the Suggestion Box</h3>
  <ul>
    <li class="question">What Happens when a Suggestion is submitted?
      <ol>
        <li class="answer">A Staff Member reviews the suggestion</li>
        <li class="answer">If something is mentioned to be broken, the staff member will open a work order</li>
        <li class="answer">If a name and email is left, the staff member will reach out and touch base with the member</li>
      </ol>
    </li>
    <li class="question">How often are suggestions checked?
      <ul>
        <li class="answer">At least once a week, in most cases it will be checked Monday, Wednesday, and Friday</li>
      </ul>
    </li>
    <li class="question">Why hasn't anything happened with my suggestion?
      <ul>
        <li class="answer">Although, it may seem like we haven't done anything with the suggestion, something is underway. Unfortunately, in
          some situations we are unable to appease to all individuals. However, if you feel strongly about the issue, please
          leave another suggestion with your name and email</li>
      </ul>
    </li>
  </ul>
</div>