<div class="form-group suggestion-container">
  <h3>Suggestion Box</h3>
  <div class="form-container">
    <label for="name">Name</label>
    <input name="name" [disabled]="disabled" #nameInput type="text" (click)="selectAll(nameInput)" class="form-control" [(ngModel)]="name"
    />
    <label for="email">Email</label>
    <input name="email" [disabled]="disabled" #emailInput type="text" (click)="selectAll(emailInput)" class="form-control" [(ngModel)]="email"
    />
    <label for="updateMe">Contact me with updates?</label>
    <br/>

    <input name="updateMe" [disabled]="disabled" #updateInput type="checkbox" (click)="updateMember()" class="form" value=""
      [(ngModel)]="updateMe" /><span class="form-checkbox">Yes</span><br/>
    <label class="message" for="message">Message</label>
    <textarea rows="4" cols="50" name="message" id="message" [disabled]="disabled" type="text" class="form-control" [(ngModel)]="message"
      (keypress)="onEnter($event,nameInput)">
    </textarea>
    <button [disabled]="disabled" class="btn btn-primary" (click)="saveSuggestion(nameInput)">Add Suggestion</button>
    <span *ngIf="loading" id="loader-icon" class="glyphicon glyphicon-refresh spinning"></span>
    <p>{{saveMessage}}</p>
  </div>
</div>